<%= form_for(@node) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag 'node[openstack_user_id]', params[:openstack_user] %>
  <%= hidden_field_tag 'openstack_user_id', params[:openstack_user] %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :recipe %><br>
    <%= f.text_field :recipe %>
  </div>
  <div class="field">
    <%= f.label :apps %><br>
    <%= f.text_field :apps %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
