<h1>Listing nodes</h1>

<table>
  <thead>
    <tr>
      <th>Openstack user</th>
      <th>Name</th>
      <th>Recipe</th>
      <th>Apps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= node.openstack_user_id %></td>
        <td><%= node.name %></td>
        <td><%= node.recipe %></td>
        <td><%= node.apps %></td>
        <td><%= link_to 'Show', node %></td>
        <td><%= link_to 'Edit', edit_node_path(node) %></td>
        <td><%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= form_tag("/openstack_actions/action", method: "get") do %>
            <%= collection_select(:flavors, :flavors, Flavor.all, :flavor_id, :name) %>
            <%= collection_select(:images, :images, Image.all, :image_id, :name) %>
            <%= hidden_field_tag 'openstack_user', node.openstack_user_id %>
            <%= hidden_field_tag 'recipe', node.recipe %>
            <%= hidden_field_tag 'node', node.name %>
            <%= hidden_field_tag 'apps', node.apps %>
            <%= hidden_field_tag 'name', node.name %>
            <%= hidden_field_tag 'activity', :start %>
            <%= submit_tag("Start Instance") %>
          <%  end %>
        </td>
        <td>
          <%= form_tag("/openstack_actions/action", method: "get") do %>
            <%= hidden_field_tag 'openstack_user', node.openstack_user_id %>
            <%= hidden_field_tag 'recipe', node.recipe %>
            <%= hidden_field_tag 'node', node.name %>
            <%= hidden_field_tag 'apps', node.apps %>
            <%= hidden_field_tag 'name', node.name %>
            <%= hidden_field_tag 'activity', :bootstap_instance %>
            <%= submit_tag("Boostrap Instance") %>
          <%  end %>
        </td>
        <td>
          <%= form_tag("/openstack_actions/action", method: "get") do %>
            <%= collection_select(:ip_address, :ip_address, IpAddress.all, :ip_address, :ip_address) %>
            <%= hidden_field_tag 'openstack_user', node.openstack_user_id %>
            <%= hidden_field_tag 'name', node.name %>
            <%= hidden_field_tag 'activity', :assign_ip_address %>
            <%= submit_tag("Allocate IP") %>
          <%  end %>
        </td>
        <td>
          <%= form_tag("/openstack_actions/action", method: "get") do %>
            <%= hidden_field_tag 'openstack_user', node.openstack_user_id %>
            <%= hidden_field_tag 'name', node.name %>
            <%= hidden_field_tag 'activity', :deallocate_ip_address %>
            <%= submit_tag("Deallocate IP") %>
          <%  end %>
        </td>
        <td id="<%= node.name %>"></td>
        <script>
          update_server_status('<%= node.openstack_user_id %>', '<%= node.name%>');
          $(document).ready(function($){
              window.setInterval(function() {update_server_status('<%= node.openstack_user_id %>', '<%= node.name %>')}, 5000);
            });
        </script>
      </tr>
    <% end %> 
  </tbody>
</table>

<br>

<%= link_to 'New Node', new_node_path %>
