<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @node.recipe %>
</p>

<p>
  <strong>apps:</strong>
  <%= @node.apps %>
</p>


<%= link_to 'Edit', edit_node_path(@node, :openstack_user => params[:openstack_user]) %> |
<%= link_to 'Back', nodes_path(:openstack_user => params[:openstack_user]) %>
