<%= form_for(@openstack_user) do |f| %>
  <% if @openstack_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@openstack_user.errors.count, "error") %> prohibited this openstack_user from being saved:</h2>

      <ul>
      <% @openstack_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :os_username %><br>
    <%= f.text_field :os_username %>
  </div>
  <div class="field">
    <%= f.label :os_password %><br>
    <%= f.text_field :os_password %>
  </div>
  <div class="field">
    <%= f.label :os_auth_url %><br>
    <%= f.text_field :os_auth_url %>
  </div>
  <div class="field">
    <%= f.label :chef_server_url %><br>
    <%= f.text_field :chef_server_url %>
  </div>
  <div class="field">
    <%= f.label :client_name %><br>
    <%= f.text_field :client_name %>
  </div>
  <div class="field">
    <%= f.label :signing_key_file %><br>
    <%= f.text_field :signing_key_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
